<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301384505189-fvg9qnon4gjjnqu63biukafj2phcgqeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301384505189-fvg9qnon4gjjnqu63biukafj2phcgqeb</string>
	<key>API_KEY</key>
	<string>AIzaSyAoc7dz-LHE95MHqOIUyTW7BbPo5lUzyE0</string>
	<key>GCM_SENDER_ID</key>
	<string>301384505189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aelf.aelfMarketMaker</string>
	<key>PROJECT_ID</key>
	<string>aelf-swap</string>
	<key>STORAGE_BUCKET</key>
	<string>aelf-swap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301384505189:ios:ca32b3f45c1cd31df0338c</string>
</dict>
</plist>